<div id='users'>
  <% @users.each do |user| %>
    <div class='user'>
      <span class='user-name'>
        <%= link_to user.display_name, user_path(user), :method => :get %>
      </span>
      <span class='links'>
        <%= link_to 'Edit',   edit_admin_user_path(user) %>
        <%= link_to 'Delete', admin_user_path(user),      :method => :delete %>
      </span>
    </div>
  <% end %>
</div>