<div>
  <b>ID:</b>
  <%= @user.id %>
</div>

<div>
  <b>Name</b>
  <%= @user.name %>
</div>

<div>
  <b>Roles</b>
  <ul>
  <% @user.roles.each do |role| %>
    <li><%= "#{role.name.titleize}" %></li>
  <% end %>
  </ul>
</div>

<div>
  <b>Accounts</b>
  <ul>
  <% @user.authorizations.each do |auth| %>
    <li><%= "#{auth.provider.titleize} [#{auth.email}, #{auth.uid}]" %></li>
  <% end %>
  </ul>
</div>