<b>ID:</b>
<%= @user.id %>
<br />
<b>Name</b>
<%= @user.name %>
<br />
<b>Accounts</b>
<ul>
<% @user.authorizations.each do |auth| %>
	<li><%= "#{auth.provider.titleize} [#{auth.email}, #{auth.uid}]" %></li>
<% end %>
</ul>